@font-face {
  font-family: NewBold;
  src: url(./Fonts/Neue/NeueHaasDisplayBold.ttf);
}

@font-face {
  font-family: NewMedium;
  src: url(./Fonts/Neue/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: NewRoman;
  src: url(./Fonts/Neue/NeueHaasDisplayRoman.ttf);
}

@font-face {
  font-family: NewLight;
  src: url(./Fonts/Neue/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: NewThin;
  src: url(./Fonts/Neue/NeueHaasDisplayThin.ttf);
}

@font-face {
  font-family: NewDisplayBold;
  src: url(./Fonts/Neue/NeueHaasDisplayBold.ttf);
}

@font-face {
  font-family: NewDisplayLight;
  src: url(./Fonts/Neue/NeueHaasDisplayLight.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NewMedium;
}

html,
body {
  height: 100%;
  width: 100%;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.page2-container {
  height: 90%;
  width: 85%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(128, 128, 128, 0.705);
}

.page2-left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 28vw;
}
.page2-left-top h3{
  font-family: NewRoman;
  font-weight: 500;
}

.page2-left-btm p {
  font-family: NewRoman;
  width: 60%;
  font-weight: 100;
  font-size: 1.3vw;
}

.page2-right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5vw;
}

.page2-right-elem {
  height: 23vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2vw 1vw;
  border-top: 1px solid rgba(128, 128, 128, 0.459);
}

.page2-right-elem:hover{
  transition: all ease-in-out 0.4s;
  border-top: 1px solid white;
}

.page2-right-elem h1{
  width: 70%;
  font-size: 1.8vw;
  font-family: NewRoman;
  font-weight: 500;
}

.icon-div{
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.right-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.right-icon i{
  font-size: 1.5vw;
}

.right-icon h4{
  font-size: 1vw;
  color: rgba(122, 122, 122, 0.904);
}